@import "variables";
@import "~bootstrap/scss/bootstrap";

body, html {
	height: 100%;
}
body {
	background-color: #919ea4;
	background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url("https://source.unsplash.com/1600x900/?dark,water,landscape");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#app,
.container {
	height: 100%;
}
.checkbox, 
.radio {
    position: relative;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 0px;
    input{
		display: none;
	}
    & input:checked + label {
      background: #2ECC71;
      color: #efefef;
    }
    & label {
        padding: 4px 14px;
        font-size: 14px;
        display: inline-block;
        cursor: pointer;
        color: rgb(41, 41, 41);
        user-select: none;
        margin: 2px;
        border-radius: 0.25em;
        background: #dbdbdb;
        transition: all 0.3s ease 0s;
        :hover {
            background: #d6d6d6;
            color: #101010;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
        }
    }
}
.checkbox .radio label:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

.loading {
	flex: unset;
	display: block !important;
	margin: 90px auto;
	border: 2px solid transparent;
	border-radius: 50%;
	border-top: 2px solid #4969ad;
	border-right: 2px solid #4969ad;
	border-bottom: 2px solid #4969ad;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 1.5s linear infinite;

	&.sm {
		margin: 0 25px;
		display: inline-block;
		width: 30px;
		height: 30px;
	}
	&.success {
		border-top-color: $green;
		border-right-color: $green;
		border-bottom-color: $green;
	}
	& > * {
		display: none !important;
	} 
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}